{% extends 'base.html.twig' %}
{% block title %} | Configuration{% endblock %}

{% form_theme form _self %}

{%- block form_row -%}
    <div>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%  block header %}
    <h1>{{ 'config_mail'|trans }}</h1>
{% endblock %}

{%  block content %}
    {% if errors %}
        <div class="errors">
            <h3><i></i>{{ 'user_errors'|trans }}</h3>
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="comment">
        <div class="content margin">
            <pre><i></i>{{ 'add_config'|trans }}</pre>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}
