{% extends 'base.html.twig' %}
{% block title %} | Send Mail{% endblock %}

{%  block header %}
    <h1>{{ 'send_mail'|trans }}</h1>
{% endblock %}

{% form_theme form _self %}

{%- block form_row -%}
    <div>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%  block content %}
    {% if errors|length > 0 %}
        <div class="errors">
            <h3><i></i>{{ 'user_errors'|trans }}</h3>
            <ul>
                {% for error in errors %}
                    {% if error.count %}
                        <li>{{ error.get(0).message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="comment">
        <div class="content margin">
            <pre>{{ 'tip'|trans }}</pre>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}
