{% extends 'base.html.twig' %}

{%  block content %}
    <h1>{{ 'config_mail'|trans }}</h1>

    {% if errors %}
        <div class="errors">
            <pre><i></i>{{ 'user_errors'|trans }}</pre>
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="comment">
        <div class="content margin">
            <pre><i></i>{{ 'add_config'|trans }}</pre>

            <form action="{{ path('config') }}" method="post">
                {{ form_widget(form) }}
                <input type="submit" name="send" value="{{ 'send'|trans }}" class="button"/>
            </form>
        </div>
    </div>
{% endblock %}
