{% extends 'base.html.twig' %}

{%  block content %}
    <h1>{{ 'send_mail'|trans }}</h1>

    {% if errors is defined and errors > 0 %}
        <div class="errors">
            <pre><i></i>{{ 'user_errors'|trans }}</pre>
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if (success) %}
        <div class="blue">
            <p>{{ 'message_sent'|trans }}</p>
        </div>
    {% endif %}
    <div class="comment">
        <div class="content margin">
            <pre>{{ 'tip'|trans }}</pre>

            <form action="{{ path('home') }}" method="post">
                {{ form_widget(form) }}
                <input type="submit" name="send" value="{{ 'send'|trans }}" class="button"/>
            </form>
        </div>
    </div>
{% endblock %}